.progress-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff;
}

.progress-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.progress-details {
    margin-top: 20px;
}

.progress-name {
    font-size: 1.2em;
    font-weight: bold;
}

.progress-providername {
    font-size: 1.2em;
    color: #888;
}

.progress-status {
    font-size: 1em;
    margin: 10px 0;
}

.progress-eta {
    font-size: 0.9em;
    color: #888;
}

.half-radial-card {
    padding: 20px;
    margin-bottom: 20px;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.half-radial-details {
    margin-left: 20px;
}

.half-radial-details .record {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.record-name {
    font-weight: bold;
    margin-right: 10px;
}

.circle-progress-container {
    position: relative;
    width: 324px;
    /* Adjust as needed */
    height: 185px;
    /* Adjust as needed */
}

.circle-progress-container .percent-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    /* Adjust font size */
    color: #3e98c7;
    /* Match outerStrokeColor */
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.progress-card {
    height: 282px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf-icon {
    font-size: 120px !important;
    /* Increased size */
    color: #d32f2f;
    /* PDF-like red */
    margin-bottom: 15px;
}

.edit-icons {
    color: blue;
    cursor: pointer;
    margin-top: -20px;
    margin-bottom: 15px;
    margin-right: -20px;
    font-size: 1.4em !important;

}

.delete-icons {
    color: red;
    cursor: pointer;
    margin-top: -20px;
    margin-bottom: 15px;
    font-size: 1.4em !important;
    // margin-right: -10px;
}


.eye-icons {
    color: blue;
    cursor: pointer;
    margin-top: -20px;
    margin-bottom: 15px;
   // margin-right: -0px;
    font-size: 1.4em !important;

}

.red-eye {
    color: red;
  }
  .blue-eye {
    color: blue;
  }


.delete-icons {
    color: red;
    cursor: pointer;
    margin-top: -20px;
    margin-bottom: 15px;
    font-size: 1.4em !important;
    // margin-right: -10px;
}


.switchToggle input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.switchToggle label {
    cursor: pointer;
    text-indent: -9999px;
    width: 110px;
    max-width: 200px;
    height: 30px;
    background: #d1d1d1;
    display: block;
    border-radius: 100px;
    position: relative;
}

.switchToggle label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.highlight {
    background-color: yellow;
    width: min-content;
}

// .switchToggle input:checked+label,
// .switchToggle input:checked+input+label {
//     background: #3e98d3;
// }

.switchToggle input+label:before,
.switchToggle input+input+label:before {
    content: 'Post Visit';
    position: absolute;
    top: 5px;
    left: 30px;
    width: 100px;
    height: 26px;
    border-radius: 90px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
}

.switchToggle input:checked+label:before,
.switchToggle input:checked+input+label:before {
    content: 'Pre Visit';
    position: absolute;
    top: 5px;
    left: 10px;
    width: 100px;
    height: 26px;
    border-radius: 90px;
    transition: 0.3s;
    text-indent: 0;
    color: #fff;
}

.switchToggle input:checked+label:after,
.switchToggle input:checked+input+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.switchToggle label:active:after {
    width: 60px;
}

.nav-container {
    padding: 10px;
    width: 14%;
    position: fixed;
    right: 0;
    top: 56px;
    height: 100vh;
    overflow-y: auto;
    background-color: #f0f0f0;
    transition: all 0.3s ease-in-out;
}

.nav-open {
    width: 14%;
}

.nav-closed {
    width: 40px;
    overflow: hidden;
}

.toggle-button {
    margin-top: 10px;
    background-color: #f0f0f0;
    border: none;
    font-size: 24px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    // padding: 10px;
}

// .toggle-button {
//     background-color: #f0f0f0;
//     border: none;
//     font-size: 24px;
//     margin-bottom: 15px;
//     cursor: pointer;
//     width: 100%;
//     text-align: left;
//     padding: 10px;
//     margin-left: -10px;
// }

.toggle-button mat-icon {
    font-size: 30px;
}

.toggle-button:hover {
    background-color: #e0e0e0;
}

.nav-links ul {
    font-size: 17px;
    // padding-top: 5px;
    list-style-type: none;
    margin: 0;
}

.nav-links li {
    margin: 10px 0;
    cursor: pointer;
    color: black;
}

.nav-links li.active {
    color: green !important;
    font-weight: bold;
    font-size: 18px;
}

.nav-links li:hover {
    color: grey;
}

.nav-links li.router-link-active {
    color: blue !important;
}

.nav-links mat-icon {
    margin-right: 10px;
}

.nav-links span {
    display: inline-block;
    transition: opacity 0.3s ease;
}

.nav-closed .nav-links span {
    opacity: 0;
}

.full-width {
    width: 97% !important;
}

.nav-container.nav-open .col-sm-10 {
    width: calc(100% - 250px);
}

.col-sm-10 {
    transition: width 0.3s ease;
}

.toggle-icon {
    font-size: 40px;
}

.clicked-item a {
    color: red !important;
}

.mine {

    // position: fixed;
    bottom: 40px;
    right: 60px;
    background-color: #e6e6e6 !important;
}


.dropdown-content {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: -48px;
    padding: 10px;
    width: 31%;
    position: absolute;
    z-index: 10;
  }